[submodule "resources/styles"]
	path = resources/styles
	url = https://github.com/Twitchcord/twitchcord-sass.git
[submodule "src/renderer/old-core"]
	path = src/renderer/old-core
	url = https://gitlab.com/Twitchcord/twitchcord-v1.git
