@import 'scss/blacklist.scss';
@import 'scss/addonTab.scss';

@keyframes flyIn {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  50% {
    transform: scale(1.02);
    opacity: 1;
  }
  65% {
    transform: scale(0.98);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes shake {
  0% {
    left: 0px;
  }
  33% {
    left: -20px;
  }
  66% {
    left: 20px;
  }
  100% {
    left: 0px;
  }
}

@keyframes fadin {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.theme-light {
  .pcListBg {
    background-color: hsla(240, 6%, 97%, .6);
    border: solid #dcddde 1px;
  }
  .pcDesc {
    color: hsla(218, 5%, 47%, .6);
  }
  .pcH5 {
    color: #818894;
  }
  .pcH4 {
    color: #818894;
  }
  .pcH3 {
    color: #4f545c;
  }
  .pcH2 {
    color: #4f545c;
  }
  .noticePopup {
    background: #f3f3f4;
    box-shadow: 0 0 0 1px rgba(32, 34, 37, .6), 0 2px 10px 0 rgba(0, 0, 0, .2);
  }
  .titleThing {
    color: hsla(218, 5%, 47%, .6);
  }
  .descThing {
    color: #72767d;
  }
  .settingsPopup {
    background: #f3f3f4;
    box-shadow: 0 0 0 1px rgba(32, 34, 37, .6), 0 2px 10px 0 rgba(0, 0, 0, .2);
  }
}

.theme-dark {
  #plSettings:hover::-webkit-scrollbar-thumb {
    background-color: #202225;
  }

  .titleThing {
    color: hsla(210, 3%, 87%, .3);
  }

  .descThing {
    color: #dcddde;
  }

  .settingsPopup {
    background-color: #36393f;
    box-shadow: 0 0 0 1px rgba(32, 34, 37, .6), 0 2px 10px 0 rgba(0, 0, 0, .2);
  }

  .noticePopup {
    background-color: #36393f;
    box-shadow: 0 0 0 1px rgba(32, 34, 37, .6), 0 2px 10px 0 rgba(0, 0, 0, .2);
  }

  .noticeFooter {
    background-color: #2f3136;
  }

  #cancelDel {
    color: #fff;
  }

  .pcH2 {
    color: #f6f6f7;
  }

  .pcH3 {
    color: #f6f6f7;
  }

  .pcH5 {
    color: #b5b5b5;
  }

  .pcH4 {
    color: #dcddde;
  }

  .pcDesc {
    color: #72767d;
  }

  .pcListBg {
    background: rgba(32, 34, 37, .3);
    border: solid #202225 1px;
  }

}

.pcFadeIn {
  animation: fadein 3s normal;
}

.pcFadeOut {
  opacity: 0;
  transition: 3s;
}

#plSettings {
  &::-webkit-scrollbar-thumb {
    margin: 1px;
    border-radius: 8px;
    background-color: transparent;
  }
  &::-webkit-scrollbar {
    background-color: transparent;
    width: 5px;
    border-color: transparent;
  }
  &::-webkit-scrollbar-track {
    background-color: transparent;
  }
}

#cstmSettingsWindow {
  min-width: 460px;
  padding: 60px 40px 80px;
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 800px;
  flex: 1 1 800px;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

#darkerBg {
  transition: 3s;
  background: rgba(0, 0, 0, 0.85);
  z-index: 2000;
  pointer-events: none;
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  display: -webkit-flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

#darkerBgNotice {
  background: rgba(0, 0, 0, 0.85);
  z-index: 2000;
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  display: -webkit-flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

#settingsList {
  margin-top: 15px;
}

.bolt {
  background: url('http://www.twitchcord.com/images/twitchcord-logo-big.png') no-repeat center;
  background-size: 48px 48px;
  width: 48px !important;
  height: 48px !important;
  flex: 0 0 auto;
  margin-right: 10px;
}

.redBg {
  background-color: #f04747 !important;
  position: relative !important;
  animation: shake .25s !important;
}

.floatIn {
  animation: flyIn .3s;
}

.floatOut {
  transform: scale(0);
  opacity: 0;
  animation: flyIn .35s;
  animation-direction: reverse;
}

.themePopup {
  animation: flyIn .3s;
  width: 300px;
  height: 160px;
  background-color: #7289da;
  padding: 10px;
  border-radius: 8px;
}

#plSettings {
  overflow-x: hidden;
  overflow-y: auto;
  padding: 16px 20px 0px;
  height: 528px;
}

.settingsPopup {
  width: 580px;
  height: 600px;
  border-radius: 8px;
  overflow: hidden;
}

.noticePopup {
  width: 440px;
  border-radius: 4px;
  overflow: hidden;
}

.noticeHead {
  padding: 20px;
}

.noticeMiddle {
  overflow-x: hidden;
  padding: 0 12px 20px 20px;
}

.noticeFooter {
  display: flex;
  justify-content: flex-start;
  flex-wrap: nowrap;
  flex-direction: row-reverse;
  padding: 20px;
  box-shadow: inset 0 1px 0 rgba(47, 49, 54, .6);
}

#delete {
  transition: .2s;
  border-radius: 5px;
  background-color: #f04747;
  color: #fff;
  height: 38px;
  min-height: 38px;
  min-width: 96px;
  padding: 2px 16px;
  line-height: 16px;
  font-size: 14px;
  font-weight: 500;
}

#delete:hover {
  background-color: #d84040;
}

#cancelDel {
  background-color: transparent;
  height: 38px;
  min-height: 38px;
  min-width: 96px;
  padding: 2px 16px;
  line-height: 16px;
  font-size: 14px;
  font-weight: 500;
}

#cancelDel:hover {
  text-decoration: underline;
}

#back {
  transition: background-color .17s ease;
  color: #fff;
  background-color: #7289da;
  height: 32px;
  min-height: 32px;
  min-width: 60px;
  padding: 2px 16px;
  line-height: 16px;
  font-size: 14px;
  font-weight: 500;
  border-radius: 3px;
}

#back:hover {
  background-color: #677bc4;
}

.emoteTypeBtns {
  width: 100%;
  cursor: default;
  display: table;
  table-layout: fixed;

  div {
    text-align: center;
    display: table-cell;
    color: #98aab6;
    font-size: 12px;
    font-weight: 500;
    height: 24px;
    line-height: 24px;
    padding: 4px 0;
    text-transform: uppercase;
  }

  div:not(.selected) {
    cursor: pointer;
    background-color: rgba(199, 209, 216, .3);

    &:hover {
      background-color: rgba(199, 209, 216, .25);
    }
  }
}

.emoteContainer {
  overflow: hidden;
  height: auto;
  width: auto;
}

.pcEmoteItem {
  vertical-align: top;
  cursor: pointer;
  display: inline-block;
  height: 28px;
  line-height: 28px;
  margin: 2px 0 2px 4px;
  text-align: center;
  width: 28px;
}

.pcEmoteSelected {
  background-color: #eceeef;
  border-radius: 3px;
}

.pcScroller {
  height: 224px;
  overflow-y: overlay;
  overflow-x: hidden;
  padding: 0 0 0 8px;
}

.emoteContainer .emoji {
  margin: 3px !important;
}

.vertFlex {
  display: flex;
  display: -webkit-flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  align-items: center;
  align-content: center;
}

.author {
  margin-left: 2px !important;
  line-height: 17px !important;
  font-size: 11px !important;
}

.themePopupInner {
  width: 100%;
  height: 100%;
  border: 2px dashed hsla(0, 0%, 100%, .4);
  border-radius: 10px;
  display: flex;
  display: -webkit-flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.pcSettingsBtn {
  cursor: pointer !important;
  display: inline-block;
  text-align: center;
  border-radius: 3px;
  width: 21px;
  height: 21px;
  line-height: 22px !important;
  transition: .3s;
}

.pcSettingsBtn:hover {
  background-color: #43b581;
}

.pcH2 {
  font-weight: 600;
  font-size: 16px;
  letter-spacing: .3px;
}

.pcH3 {
  cursor: default;
  font-size: 1em;
  line-height: 24px;
}

.pcH4 {
  line-height: 20px;
  font-size: 16px;
  word-wrap: break-word;
}

.pcH5 {
  cursor: default;
  font-size: .8em;
  line-height: 24px;
  margin: 0 0 0 4px;
}

.pcDesc {
  width: 90%;
  overflow: hidden;
  transition: .4s;
  cursor: default;
  margin: -22px 0 0 0;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  max-height: 20px;
}

.customCSSdetachtcontainer {
  z-index: 9999;
  display: block;
  position: absolute;
  width: 32%;
  top: 0;
  right: 0;
  bottom: 0;
}

[class*=standardSidebarView-] {
  .esc-text {
    margin-top: 8px;
    position: relative;
  }
  .btn-close {
    position: relative;
  }
}

.itemSelected-3XxAMf.item-3879bf.selected-eNoxEK {
  color: rgb(255, 255, 255) !important;
}

.teE {

  &:hover .tooltiptext {
    position: relative;
    visibility: visible;
    opacity: 1;
  }

  .tooltiptext {
    position: absolute;
    visibility: hidden;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 0px 0;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.3s;

    &:after {
      content: "";
      border-style: solid;
      border-color: #555 transparent transparent transparent;
    }
  }
}

.pcCssButtonContainer button {
  border: 1px solid rgba(28,36,43,.6);
  margin-right: 5px;
  background-color: #2f3136;
  color: #fff;
  margin-top: 3px;
  padding: 5px 10px;
}

#customCssContentDet {
  height: 95vh !important;
}

#customCssContent {
  height: 80vh !important;
}

#customCssContent *, #customCssContentDet * {
  font-family: 'Roboto Mono', monospace !important;
}