.pcInputWrap {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #4a4c52;
  border-radius: 3px;
}

.pcInputWrap #pcAddBlackInput {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 70%;
          flex: 0 0 70%;
  background-color: transparent;
  outline: none;
  border: none;
  padding: 5px 10px;
  font-weight: 500;
  font-size: 16px;
  color: #fff;
}

.pcInputWrap #pcAddBlackBtn {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  -webkit-transition: background-color .17s ease;
  transition: background-color .17s ease;
  color: #fff;
  background-color: #7289da;
  height: auto;
  min-height: 32px;
  min-width: 60px;
  padding: 2px 16px;
  line-height: 16px;
  font-size: 14px;
  font-weight: 500;
}

.pcBlackTableContent {
  height: 64px;
  -webkit-box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.04);
          box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.04);
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.pcBlackTableContent .pcTableImg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pcBlackTableContent .pcTableImg .pcBlackTableText {
  font-size: 16px;
  line-height: 16px;
  margin-left: 20px;
  color: #fff;
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
  text-overflow: ellipsis;
}

.pcBlackTableContent .pcRemoveBlack {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  margin-left: 10px;
  -webkit-transition: background-color .17s ease;
  transition: background-color .17s ease;
  color: #fff;
  background-color: #7289da;
  height: 32px;
  min-height: 32px;
  min-width: 60px;
  padding: 2px 16px;
  line-height: 16px;
  font-size: 14px;
  font-weight: 500;
  border-radius: 3px;
}

.pcBlackTableContent .pcRemoveBlack:hover {
  background-color: #677bc4;
}

.pcListBg {
  width: 100%;
  border-radius: 3px;
  padding: 10px;
  margin-bottom: 10px;
}

.pcListBg:hover .pcDesc {
  overflow: overlay;
  max-height: 80px;
}

.pcListBg .pcHeadList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -webkit-flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: auto;
      -ms-flex-align: auto;
          align-items: auto;
  -ms-flex-line-pack: center;
      align-content: center;
}

.pcListBg .pcHeadList .pcHeaderList {
  max-width: 90%;
  max-height: 24px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -webkit-flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: auto;
      -ms-flex-align: auto;
          align-items: auto;
  -ms-flex-line-pack: end;
      align-content: flex-end;
}

.pcListBg .pcHeadList .pcSettingsWrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  height: 47px;
}

.pcListBg .pcHeadList .pcSettingsWrap .pcDelBtn {
  cursor: pointer !important;
  display: inline-block;
  text-align: center;
  border-radius: 3px;
  width: 21px;
  height: 21px;
  line-height: 22px !important;
  -webkit-transition: .3s;
  transition: .3s;
}

.pcListBg .pcHeadList .pcSettingsWrap .pcDelBtn:hover {
  background-color: #f04747;
}

.pcPath {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  padding: 0 !important;
}

.pcPath span {
  overflow: hidden;
  max-width: 556px;
  text-overflow: ellipsis;
  color: #fff;
  margin: 0 10px;
}

.pcBluBtn {
  display: inline-block;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  -webkit-transition: background-color .17s ease;
  transition: background-color .17s ease;
  color: #fff;
  background-color: #7289da;
  height: auto;
  min-height: 32px;
  min-width: 60px;
  padding: 8px 16px;
  line-height: 16px;
  font-size: 14px;
  font-weight: 500;
}

.pcBluBtn:hover {
  background-color: #677bc4;
}

.addBtn {
  display: none;
}

.addBtn + label {
  padding: 0px 5px 0px 5px;
  margin-left: 20px;
  background-color: #2f3136;
}

.addBtn + label:hover {
  cursor: pointer !important;
  background-color: #4A4D54;
}

@-webkit-keyframes flyIn {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0;
  }
  50% {
    -webkit-transform: scale(1.02);
            transform: scale(1.02);
    opacity: 1;
  }
  65% {
    -webkit-transform: scale(0.98);
            transform: scale(0.98);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

@keyframes flyIn {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0;
  }
  50% {
    -webkit-transform: scale(1.02);
            transform: scale(1.02);
    opacity: 1;
  }
  65% {
    -webkit-transform: scale(0.98);
            transform: scale(0.98);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

@-webkit-keyframes shake {
  0% {
    left: 0px;
  }
  33% {
    left: -20px;
  }
  66% {
    left: 20px;
  }
  100% {
    left: 0px;
  }
}

@keyframes shake {
  0% {
    left: 0px;
  }
  33% {
    left: -20px;
  }
  66% {
    left: 20px;
  }
  100% {
    left: 0px;
  }
}

@-webkit-keyframes fadin {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadin {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.theme-light .pcListBg {
  background-color: rgba(247, 247, 248, 0.6);
  border: solid #dcddde 1px;
}

.theme-light .pcDesc {
  color: rgba(114, 118, 126, 0.6);
}

.theme-light .pcH5 {
  color: #818894;
}

.theme-light .pcH4 {
  color: #818894;
}

.theme-light .pcH3 {
  color: #4f545c;
}

.theme-light .pcH2 {
  color: #4f545c;
}

.theme-light .noticePopup {
  background: #f3f3f4;
  -webkit-box-shadow: 0 0 0 1px rgba(32, 34, 37, 0.6), 0 2px 10px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 0 1px rgba(32, 34, 37, 0.6), 0 2px 10px 0 rgba(0, 0, 0, 0.2);
}

.theme-light .titleThing {
  color: rgba(114, 118, 126, 0.6);
}

.theme-light .descThing {
  color: #72767d;
}

.theme-light .settingsPopup {
  background: #f3f3f4;
  -webkit-box-shadow: 0 0 0 1px rgba(32, 34, 37, 0.6), 0 2px 10px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 0 1px rgba(32, 34, 37, 0.6), 0 2px 10px 0 rgba(0, 0, 0, 0.2);
}

.theme-dark #plSettings:hover::-webkit-scrollbar-thumb {
  background-color: #202225;
}

.theme-dark .titleThing {
  color: rgba(221, 222, 223, 0.3);
}

.theme-dark .descThing {
  color: #dcddde;
}

.theme-dark .settingsPopup {
  background-color: #36393f;
  -webkit-box-shadow: 0 0 0 1px rgba(32, 34, 37, 0.6), 0 2px 10px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 0 1px rgba(32, 34, 37, 0.6), 0 2px 10px 0 rgba(0, 0, 0, 0.2);
}

.theme-dark .noticePopup {
  background-color: #36393f;
  -webkit-box-shadow: 0 0 0 1px rgba(32, 34, 37, 0.6), 0 2px 10px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 0 1px rgba(32, 34, 37, 0.6), 0 2px 10px 0 rgba(0, 0, 0, 0.2);
}

.theme-dark .noticeFooter {
  background-color: #2f3136;
}

.theme-dark #cancelDel {
  color: #fff;
}

.theme-dark .pcH2 {
  color: #f6f6f7;
}

.theme-dark .pcH3 {
  color: #f6f6f7;
}

.theme-dark .pcH5 {
  color: #b5b5b5;
}

.theme-dark .pcH4 {
  color: #dcddde;
}

.theme-dark .pcDesc {
  color: #72767d;
}

.theme-dark .pcListBg {
  background: rgba(32, 34, 37, 0.3);
  border: solid #202225 1px;
}

.pcFadeIn {
  -webkit-animation: fadein 3s normal;
          animation: fadein 3s normal;
}

.pcFadeOut {
  opacity: 0;
  -webkit-transition: 3s;
  transition: 3s;
}

#plSettings::-webkit-scrollbar-thumb {
  margin: 1px;
  border-radius: 8px;
  background-color: transparent;
}

#plSettings::-webkit-scrollbar {
  background-color: transparent;
  width: 5px;
  border-color: transparent;
}

#plSettings::-webkit-scrollbar-track {
  background-color: transparent;
}

#cstmSettingsWindow {
  min-width: 460px;
  padding: 60px 40px 80px;
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 800px;
  flex: 1 1 800px;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

#darkerBg {
  -webkit-transition: 3s;
  transition: 3s;
  background: rgba(0, 0, 0, 0.85);
  z-index: 2000;
  pointer-events: none;
  position: fixed;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -webkit-flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

#darkerBgNotice {
  background: rgba(0, 0, 0, 0.85);
  z-index: 2000;
  position: fixed;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -webkit-flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

#settingsList {
  margin-top: 15px;
}

.bolt {
  background: url("http://www.twitchcord.com/images/twitchcord-logo-big.png") no-repeat center;
  background-size: 48px 48px;
  width: 48px !important;
  height: 48px !important;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  margin-right: 10px;
}

.redBg {
  background-color: #f04747 !important;
  position: relative !important;
  -webkit-animation: shake .25s !important;
          animation: shake .25s !important;
}

.floatIn {
  -webkit-animation: flyIn .3s;
          animation: flyIn .3s;
}

.floatOut {
  -webkit-transform: scale(0);
          transform: scale(0);
  opacity: 0;
  -webkit-animation: flyIn .35s;
          animation: flyIn .35s;
  animation-direction: reverse;
}

.themePopup {
  -webkit-animation: flyIn .3s;
          animation: flyIn .3s;
  width: 300px;
  height: 160px;
  background-color: #7289da;
  padding: 10px;
  border-radius: 8px;
}

#plSettings {
  overflow-x: hidden;
  overflow-y: auto;
  padding: 16px 20px 0px;
  height: 528px;
}

.settingsPopup {
  width: 580px;
  height: 600px;
  border-radius: 8px;
  overflow: hidden;
}

.noticePopup {
  width: 440px;
  border-radius: 4px;
  overflow: hidden;
}

.noticeHead {
  padding: 20px;
}

.noticeMiddle {
  overflow-x: hidden;
  padding: 0 12px 20px 20px;
}

.noticeFooter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  padding: 20px;
  -webkit-box-shadow: inset 0 1px 0 rgba(47, 49, 54, 0.6);
          box-shadow: inset 0 1px 0 rgba(47, 49, 54, 0.6);
}

#delete {
  -webkit-transition: .2s;
  transition: .2s;
  border-radius: 5px;
  background-color: #f04747;
  color: #fff;
  height: 38px;
  min-height: 38px;
  min-width: 96px;
  padding: 2px 16px;
  line-height: 16px;
  font-size: 14px;
  font-weight: 500;
}

#delete:hover {
  background-color: #d84040;
}

#cancelDel {
  background-color: transparent;
  height: 38px;
  min-height: 38px;
  min-width: 96px;
  padding: 2px 16px;
  line-height: 16px;
  font-size: 14px;
  font-weight: 500;
}

#cancelDel:hover {
  text-decoration: underline;
}

#back {
  -webkit-transition: background-color .17s ease;
  transition: background-color .17s ease;
  color: #fff;
  background-color: #7289da;
  height: 32px;
  min-height: 32px;
  min-width: 60px;
  padding: 2px 16px;
  line-height: 16px;
  font-size: 14px;
  font-weight: 500;
  border-radius: 3px;
}

#back:hover {
  background-color: #677bc4;
}

.emoteTypeBtns {
  width: 100%;
  cursor: default;
  display: table;
  table-layout: fixed;
}

.emoteTypeBtns div {
  text-align: center;
  display: table-cell;
  color: #98aab6;
  font-size: 12px;
  font-weight: 500;
  height: 24px;
  line-height: 24px;
  padding: 4px 0;
  text-transform: uppercase;
}

.emoteTypeBtns div:not(.selected) {
  cursor: pointer;
  background-color: rgba(199, 209, 216, 0.3);
}

.emoteTypeBtns div:not(.selected):hover {
  background-color: rgba(199, 209, 216, 0.25);
}

.emoteContainer {
  overflow: hidden;
  height: auto;
  width: auto;
}

.pcEmoteItem {
  vertical-align: top;
  cursor: pointer;
  display: inline-block;
  height: 28px;
  line-height: 28px;
  margin: 2px 0 2px 4px;
  text-align: center;
  width: 28px;
}

.pcEmoteSelected {
  background-color: #eceeef;
  border-radius: 3px;
}

.pcScroller {
  height: 224px;
  overflow-y: overlay;
  overflow-x: hidden;
  padding: 0 0 0 8px;
}

.emoteContainer .emoji {
  margin: 3px !important;
}

.vertFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -webkit-flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.author {
  margin-left: 2px !important;
  line-height: 17px !important;
  font-size: 11px !important;
}

.themePopupInner {
  width: 100%;
  height: 100%;
  border: 2px dashed rgba(255, 255, 255, 0.4);
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -webkit-flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.pcSettingsBtn {
  cursor: pointer !important;
  display: inline-block;
  text-align: center;
  border-radius: 3px;
  width: 21px;
  height: 21px;
  line-height: 22px !important;
  -webkit-transition: .3s;
  transition: .3s;
}

.pcSettingsBtn:hover {
  background-color: #43b581;
}

.pcH2 {
  font-weight: 600;
  font-size: 16px;
  letter-spacing: .3px;
}

.pcH3 {
  cursor: default;
  font-size: 1em;
  line-height: 24px;
}

.pcH4 {
  line-height: 20px;
  font-size: 16px;
  word-wrap: break-word;
}

.pcH5 {
  cursor: default;
  font-size: .8em;
  line-height: 24px;
  margin: 0 0 0 4px;
}

.pcDesc {
  width: 90%;
  overflow: hidden;
  -webkit-transition: .4s;
  transition: .4s;
  cursor: default;
  margin: -22px 0 0 0;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  max-height: 20px;
}

.customCSSdetachtcontainer {
  z-index: 9999;
  display: block;
  position: absolute;
  width: 32%;
  top: 0;
  right: 0;
  bottom: 0;
}

[class*=standardSidebarView-] .esc-text {
  margin-top: 8px;
  position: relative;
}

[class*=standardSidebarView-] .btn-close {
  position: relative;
}

.itemSelected-3XxAMf.item-3879bf.selected-eNoxEK {
  color: white !important;
}

.teE:hover .tooltiptext {
  position: relative;
  visibility: visible;
  opacity: 1;
}

.teE .tooltiptext {
  position: absolute;
  visibility: hidden;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 0px 0;
  z-index: 1;
  opacity: 0;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.teE .tooltiptext:after {
  content: "";
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.pcCssButtonContainer button {
  border: 1px solid rgba(28, 36, 43, 0.6);
  margin-right: 5px;
  background-color: #2f3136;
  color: #fff;
  margin-top: 3px;
  padding: 5px 10px;
}

#customCssContentDet {
  height: 95vh !important;
}

#customCssContent {
  height: 80vh !important;
}

#customCssContent *, #customCssContentDet * {
  font-family: 'Roboto Mono', monospace !important;
}
/*# sourceMappingURL=twitchcord.css.map */