.pcListBg {
  width: 100%;
  border-radius: 3px;
  padding: 10px;
  margin-bottom: 10px;
}

.pcListBg:hover .pcDesc {
  overflow: overlay;
  max-height: 80px;
}

.pcListBg .pcHeadList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -webkit-flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: auto;
      -ms-flex-align: auto;
          align-items: auto;
  -ms-flex-line-pack: center;
      align-content: center;
}

.pcListBg .pcHeadList .pcHeaderList {
  max-width: 90%;
  max-height: 24px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -webkit-flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: auto;
      -ms-flex-align: auto;
          align-items: auto;
  -ms-flex-line-pack: end;
      align-content: flex-end;
}

.pcListBg .pcHeadList .pcSettingsWrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  height: 47px;
}

.pcListBg .pcHeadList .pcSettingsWrap .pcDelBtn {
  cursor: pointer !important;
  display: inline-block;
  text-align: center;
  border-radius: 3px;
  width: 21px;
  height: 21px;
  line-height: 22px !important;
  -webkit-transition: .3s;
  transition: .3s;
}

.pcListBg .pcHeadList .pcSettingsWrap .pcDelBtn:hover {
  background-color: #f04747;
}

.pcPath {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  padding: 0 !important;
}

.pcPath span {
  overflow: hidden;
  max-width: 556px;
  text-overflow: ellipsis;
  color: #fff;
  margin: 0 10px;
}

.pcBluBtn {
  display: inline-block;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  -webkit-transition: background-color .17s ease;
  transition: background-color .17s ease;
  color: #fff;
  background-color: #7289da;
  height: auto;
  min-height: 32px;
  min-width: 60px;
  padding: 8px 16px;
  line-height: 16px;
  font-size: 14px;
  font-weight: 500;
}

.pcBluBtn:hover {
  background-color: #677bc4;
}

.addBtn {
  display: none;
}

.addBtn + label {
  padding: 0px 5px 0px 5px;
  margin-left: 20px;
  background-color: #2f3136;
}

.addBtn + label:hover {
  cursor: pointer !important;
  background-color: #4A4D54;
}
/*# sourceMappingURL=addonTab.css.map */