.pcListBg {
    width: 100%;
    border-radius: 3px;
    padding: 10px;
    margin-bottom: 10px;

    &:hover .pcDesc {
        overflow: overlay;
        max-height: 80px;
    }

    .pcHeadList {
        display: flex;
        display: -webkit-flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
        align-items: auto;
        align-content: center;

        .pcHeaderList {
            max-width: 90%;
            max-height: 24px;
            overflow: hidden;
            display: flex;
            display: -webkit-flex;
            flex-wrap: wrap;
            flex-direction: row;
            justify-content: flex-start;
            align-items: auto;
            align-content: flex-end;
        }

        .pcSettingsWrap {
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            align-items: flex-end;
            height: 47px;

            .pcDelBtn {
                cursor: pointer !important;
                display: inline-block;
                text-align: center;
                border-radius: 3px;
                width: 21px;
                height: 21px;
                line-height: 22px !important;
                transition: .3s;

                &:hover {
                    background-color: #f04747;
                }
            }
        }
    }
}

.pcPath {
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    padding: 0 !important;

    span {
      overflow: hidden;
      max-width: 556px;
      text-overflow: ellipsis;
      color: #fff;
      margin: 0 10px;
    }
}



.pcBluBtn {
    display: inline-block;
    flex: 0 0 auto;
    transition: background-color .17s ease;
    color: #fff;
    background-color: #7289da;
    height: auto;
    min-height: 32px;
    min-width: 60px;
    padding: 8px 16px;
    line-height: 16px;
    font-size: 14px;
    font-weight: 500;

    &:hover {
        background-color: #677bc4;
    }
}

.addBtn {
    display: none;

    &+label {
        padding: 0px 5px 0px 5px;
        margin-left: 20px;
        background-color: #2f3136;

        &:hover {
            cursor: pointer !important;
            background-color: #4A4D54;
        }
    }
}